<meta name="viewport" content="width=device-width, initial-scale=1.0">


<style>


/* SEARCH BAR CONTAINER */
.search-local {
	display: flex;
	align-items: center;
	column-gap: 2rem;
	padding-left: 2rem;
	background: #fff;
	border-radius: 1rem;
	height: auto;
	border: 0.1rem solid blue;
	border-right: none;
	    width: 40%;
    margin: auto;
}


/* INPUT */
.search-local input {
	height: 100%;
	width: 100%;
	flex: 1 1 25rem;
	display: flex;
	outline: none;
	border: none;
	font-size: 16px;
    padding: 10px 11px;
    background: transparent;
}
input[type="text"]::placeholder {
	 font-size: 16px;
}
 .search_resultAPP {
    max-height: 30rem;
    overflow: auto;
    padding: 10px;
	    width: 40%;
    margin: auto;
}
*:focus-visible{
	outline:0px !important;
	box-shadow:none !important;
}
/* BUTTON */
.search-local button {
    background: blue;
    border: none;
    border-radius: 0 1rem 1rem 0;
    font-weight: 500;
    font-size: 16px;
    height: 4rem;
    padding: 0px 18px;
    cursor: pointer;
    transition: all 0.3s;
    text-align: center;
}

button a {
	color: #fff;
    text-decoration: auto;
}
.product_data p {
    margin: 0;
    color: #fff;
}

.product_data {
    display: flex;
    margin-top: 10px;
}
.main_result {
    display: flex;
    align-items: center;
}

.main_result img {
    height: 44px;
    object-fit: cover;
    width: 60px;
    margin-right: 10px;
}
.search_result {
    margin-top: 1rem;
    background: transparent;
    padding: 10px;
    border: 1px solid #ccccccc7;

}
.main_result{
    margin-bottom: 10px;

}




/* MEDIAS */
@media (max-width: 767px) {
	.search-local {
		padding-left: 16px;
		column-gap: 0.25rem;
		width:100%;
	}

	.search-local button {
		width: 10rem;
	}
    input[type="text"]::placeholder {
	 font-size: 16px;
}
	.search_resultAPP{
		width:100%;
	}
}

</style>


<body>
    <!-- Your HTML content -->
    {% comment %} <div id="predictive-search__result-group" class="search-local"></div> {% endcomment %}

    <script>

const filters_static = `<aside aria-labelledby="verticalTitle" class="facets-wrapper page-width" id="main-search-filters" data-id="template--21911434920228__main"> <link href="//danny-new-dev.myshopify.com/cdn/shop/t/1/assets/component-show-more.css?v=139536189637226996221705572663" rel="stylesheet" type="text/css" media="all"><link href="//danny-new-dev.myshopify.com/cdn/shop/t/1/assets/component-visual-display.css?v=68781107096012990521705572665" rel="stylesheet" type="text/css" media="all"><div class="facets-container scroll-trigger animate--fade-in"><facet-filters-form class="facets small-hide"> <form id="FacetFiltersForm" class="facets__form"><input type="hidden" name="q" value="[[QUERY]]"> <input name="options[prefix]" type="hidden" value="last">
<div id="FacetsWrapperDesktop" class="facets__wrapper"><h2 class="facets__heading caption-large text-body" id="verticalTitle" tabindex="-1"> Filter: </h2><details id="Details-1-template--21911434920228__main" class="disclosure-has-popup facets__disclosure js-filter" data-index="1"> <summary class="facets__summary caption-large focus-offset" aria-label="Availability (0 selected)">
<div> <span class="facets__summary-label">Availability</span>
<svg aria-hidden="true" focusable="false" class="icon icon-caret" viewBox="0 0 10 6"> <path fill-rule="evenodd" clip-rule="evenodd" d="M9.354.646a.5.5 0 00-.708 0L5 4.293 1.354.646a.5.5 0 00-.708.708l4 4a.5.5 0 00.708 0l4-4a.5.5 0 000-.708z" fill="currentColor"></path></svg> </div>
 </summary>
  <div id="Facet-1-template--21911434920228__main" class="parent-display facets__display"><div class="facets__header"> <div> <span class="facets__selected no-js-hidden">0 selected</span></div>
   </div><fieldset class="facets-wrap parent-wrap "> <legend class="visually-hidden">Availability</legend> <ul class="facets-layout-list facets__list list-unstyled no-js-hidden" role="list"> <li class="list-menu__item facets__item"> <label for="Filter-filter.v.availability-1" class="facets__label facet-checkbox"> <input type="checkbox" name="filter.v.availability" onclick="javascript:filter_vaule(this.value,this);" value="1" id="Filter-filter.v.availability-1"> <svg width="1.6rem" height="1.6rem" viewBox="0 0 16 16" aria-hidden="true" focusable="false"> <rect width="16" height="16" stroke="currentColor" fill="none" stroke-width="1"></rect> </svg>
    <svg aria-hidden="true" class="icon icon-checkmark" width="1.1rem" height="0.7rem" viewBox="0 0 11 7" fill="none" xmlns="http://www.w3.org/2000/svg"> <path d="M1.5 3.5L2.83333 4.75L4.16667 6L9.5 1" stroke="currentColor" stroke-width="1.75" stroke-linecap="round" stroke-linejoin="round"></path> </svg> <span class="facet-checkbox__text" aria-hidden="true">In stock </span> <span class="visually-hidden">In stock (2 products)</span> </label> </li> <li class="list-menu__item facets__item"> <label for="Filter-filter.v.availability-2" class="facets__label facet-checkbox"> <input type="checkbox" onclick="javascript:filter_vaule(this.value,this);" name="filter.v.availability" value="0" id="Filter-filter.v.availability-2" > <svg width="1.6rem" height="1.6rem" viewBox="0 0 16 16" aria-hidden="true" focusable="false"> <rect width="16" height="16" stroke="currentColor" fill="none" stroke-width="1"></rect> </svg>
    <svg aria-hidden="true" class="icon icon-checkmark" width="1.1rem" height="0.7rem" viewBox="0 0 11 7" fill="none" xmlns="http://www.w3.org/2000/svg"> <path d="M1.5 3.5L2.83333 4.75L4.16667 6L9.5 1" stroke="currentColor" stroke-width="1.75" stroke-linecap="round" stroke-linejoin="round"></path> </svg> <span class="facet-checkbox__text" >Out of stock </span> <span aria-hidden="true"class="visually-hidden">Out of stock (0 products)</span> </label> </li></ul>
    <ul class=" facets__list no-js-list list-unstyled no-js" role="list"><li class="list-menu__item facets__item"> <label for="Filter-filter.v.availability-1-no-js" class="facet-checkbox"> <input type="checkbox" name="filter.v.availability" onclick="javascript:filter_vaule(this.value,this);" value="1" id="Filter-filter.v.availability-1-no-js"> <svg width="1.6rem" height="1.6rem" viewBox="0 0 16 16" aria-hidden="true" focusable="false"> <rect width="16" height="16" stroke="currentColor" fill="none" stroke-width="1"></rect> </svg> <svg aria-hidden="true" class="icon icon-checkmark" width="1.1rem" height="0.7rem" viewBox="0 0 11 7" fill="none" xmlns="http://www.w3.org/2000/svg"> <path d="M1.5 3.5L2.83333 4.75L4.16667 6L9.5 1" stroke="currentColor" stroke-width="1.75" stroke-linecap="round" stroke-linejoin="round"></path> </svg> <span aria-hidden="true">In stock (2)</span>
     <span class="visually-hidden">In stock (2 products)</span> </label> </li><li class="list-menu__item facets__item"> <label for="Filter-filter.v.availability-2-no-js" class="facet-checkbox facet-checkbox--disabled"> <input type="checkbox" onclick="javascript:filter_vaule(this.value,this);" name="filter.v.availability" value="0" id="Filter-filter.v.availability-2-no-js" > <svg width="1.6rem" height="1.6rem" viewBox="0 0 16 16" aria-hidden="true" focusable="false"> <rect width="16" height="16" stroke="currentColor" fill="none" stroke-width="1"></rect> </svg> <svg aria-hidden="true" class="icon icon-checkmark" width="1.1rem" height="0.7rem" viewBox="0 0 11 7" fill="none" xmlns="http://www.w3.org/2000/svg"> <path d="M1.5 3.5L2.83333 4.75L4.16667 6L9.5 1" stroke="currentColor" stroke-width="1.75" stroke-linecap="round" stroke-linejoin="round"></path> </svg>
      <span >Out of stock (0)</span> <span aria-hidden="true"class="visually-hidden">Out of stock (0 products)</span> </label> </li></ul>
       </fieldset> </div> </details>
       <details id="Details-2-template--21911434920228__main" class="disclosure-has-popup facets__disclosure js-filter" data-index="2"> <summary class="facets__summary caption-large focus-offset"> <div>
      <span>Price</span> <svg aria-hidden="true" focusable="false" class="icon icon-caret" viewBox="0 0 10 6">
       <path fill-rule="evenodd" clip-rule="evenodd" d="M9.354.646a.5.5 0 00-.708 0L5 4.293 1.354.646a.5.5 0 00-.708.708l4 4a.5.5 0 00.708 0l4-4a.5.5 0 000-.708z" fill="currentColor"></path></svg>
       </div> </summary>
       <div id="Facet-2-template--21911434920228__main" class="facets__display"> <div class="facets__header"></div> <price-range class="facets__price"> <span class="field-currency">$</span> <div class="field">
       <input class="field__input" name="filter.v.price.gte" onfocusout="javascript:filter_price('from',this.value);" id="Filter-Price-GTE" type="number" placeholder="0" min="0" max="45.00"> <label class="field__label" for="Filter-Price-GTE">From</label> </div>
       <span class="field-currency">$</span><div class="field"> <input class="field__input" onfocusout="javascript:filter_price('to',this.value);" name="filter.v.price.lte" id="Filter-Price-LTE" type="number" min="0" placeholder="45.00" max="45.00"> <label class="field__label" for="Filter-Price-LTE">To</label> </div> </price-range> </div> </details> </div>
    <div class="active-facets active-facets-desktop">
    [[FACET]]
            </div>

    <div class="facet-filters sorting caption"> <div class="facet-filters__field"> <h2 class="facet-filters__label caption-large text-body"> <label for="SortBy">Sort by:</label> </h2>
    <div class="select">
    <select name="sort_by" onchange="javascript:filter_sort(this.value);" class="facet-filters__sort select__select caption-large" id="SortBy" aria-describedby="a11y-refresh-page-message"><option value="relevance" selected="selected"> Relevance </option><option value="price-ascending"> Price, low to high </option><option value="price-descending"> Price, high to low </option></select>
    <svg aria-hidden="true" focusable="false" class="icon icon-caret" viewBox="0 0 10 6"> <path fill-rule="evenodd" clip-rule="evenodd" d="M9.354.646a.5.5 0 00-.708 0L5 4.293 1.354.646a.5.5 0 00-.708.708l4 4a.5.5 0 00.708 0l4-4a.5.5 0 000-.708z" fill="currentColor"></path></svg> </div> </div> <noscript> <button type="submit" class="facets__button-no-js button button--secondary"> Sort </button> </noscript> </div><div class="product-count light" role="status"> <h2 class="product-count__text text-body"><span id="ProductCount" style="visibility:hidden">100</span> <span id="ProductCountDesktop">100 results</span> </h2></div></form> </facet-filters-form> <menu-drawer class="mobile-facets__wrapper medium-hide large-up-hide" data-breakpoint="mobile"> <details class="mobile-facets__disclosure disclosure-has-popup"> <summary class="mobile-facets__open-wrapper focus-offset"> <span class="mobile-facets__open"> <svg class="icon icon-filter" aria-hidden="true" focusable="false" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="none"> <path fill-rule="evenodd" d="M4.833 6.5a1.667 1.667 0 1 1 3.334 0 1.667 1.667 0 0 1-3.334 0ZM4.05 7H2.5a.5.5 0 0 1 0-1h1.55a2.5 2.5 0 0 1 4.9 0h8.55a.5.5 0 0 1 0 1H8.95a2.5 2.5 0 0 1-4.9 0Zm11.117 6.5a1.667 1.667 0 1 0-3.334 0 1.667 1.667 0 0 0 3.334 0ZM13.5 11a2.5 2.5 0 0 1 2.45 2h1.55a.5.5 0 0 1 0 1h-1.55a2.5 2.5 0 0 1-4.9 0H2.5a.5.5 0 0 1 0-1h8.55a2.5 2.5 0 0 1 2.45-2Z" fill="currentColor"></path></svg> <span class="mobile-facets__open-label button-label medium-hide large-up-hide">Filter and sort</span> <span class="mobile-facets__open-label button-label small-hide">Filter</span> </span> <span tabindex="0" class="mobile-facets__close mobile-facets__close--no-js"><svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" focusable="false" class="icon icon-close" fill="none" viewBox="0 0 18 17"> <path d="M.865 15.978a.5.5 0 00.707.707l7.433-7.431 7.579 7.282a.501.501 0 00.846-.37.5.5 0 00-.153-.351L9.712 8.546l7.417-7.416a.5.5 0 10-.707-.708L8.991 7.853 1.413.573a.5.5 0 10-.693.72l7.563 7.268-7.418 7.417z" fill="currentColor"></path></svg></span> </summary> <facet-filters-form> <form id="FacetFiltersFormMobile" class="mobile-facets"> <div class="mobile-facets__inner gradient"> <div class="mobile-facets__header"> <div class="mobile-facets__header-inner"> <h2 class="mobile-facets__heading medium-hide large-up-hide">Filter and sort</h2> <h2 class="mobile-facets__heading small-hide">Filter</h2> <p class="mobile-facets__count">3 results</p> </div> </div> <div class="mobile-facets__main has-submenu gradient"> <details id="Details-Mobile-1-template--21911434920228__main" class="mobile-facets__details js-filter" data-index="mobile-1"> <summary class="mobile-facets__summary focus-inset"> <div> <span>Availability</span> <span class="mobile-facets__arrow no-js-hidden"><svg viewBox="0 0 14 10" fill="none" aria-hidden="true" focusable="false" class="icon icon-arrow" xmlns="http://www.w3.org/2000/svg"> <path fill-rule="evenodd" clip-rule="evenodd" d="M8.537.808a.5.5 0 01.817-.162l4 4a.5.5 0 010 .708l-4 4a.5.5 0 11-.708-.708L11.793 5.5H1a.5.5 0 010-1h10.793L8.646 1.354a.5.5 0 01-.109-.546z" fill="currentColor"></path></svg></span> <noscript><svg aria-hidden="true" focusable="false" class="icon icon-caret" viewBox="0 0 10 6"> <path fill-rule="evenodd" clip-rule="evenodd" d="M9.354.646a.5.5 0 00-.708 0L5 4.293 1.354.646a.5.5 0 00-.708.708l4 4a.5.5 0 00.708 0l4-4a.5.5 0 000-.708z" fill="currentColor"></path></svg></noscript> </div> </summary> <div id="FacetMobile-1-template--21911434920228__main" class="mobile-facets__submenu gradient"> <button class="mobile-facets__close-button link link--text focus-inset" aria-expanded="true" type="button"> <svg viewBox="0 0 14 10" fill="none" aria-hidden="true" focusable="false" class="icon icon-arrow" xmlns="http://www.w3.org/2000/svg"> <path fill-rule="evenodd" clip-rule="evenodd" d="M8.537.808a.5.5 0 01.817-.162l4 4a.5.5 0 010 .708l-4 4a.5.5 0 11-.708-.708L11.793 5.5H1a.5.5 0 010-1h10.793L8.646 1.354a.5.5 0 01-.109-.546z" fill="currentColor"></path></svg> <span>Availability</span></button> <ul class="facets-layout-list mobile-facets__list list-unstyled" role="list"> <li class="mobile-facets__item list-menu__item"> <label for="Filter-filter.v.availability-mobile-1" class="facets__label mobile-facets__label"> <input class="mobile-facets__checkbox" type="checkbox" onclick="javascript:filter_vaule(this.value,this);" name="filter.v.availability" value="1" id="Filter-filter.v.availability-mobile-1"> <span class="mobile-facets__highlight"></span> <svg width="1.6rem" height="1.6rem" viewBox="0 0 16 16" aria-hidden="true" focusable="false"> <rect width="16" height="16" stroke="currentColor" fill="none" stroke-width="1"></rect> </svg> <svg aria-hidden="true" class="icon icon-checkmark" width="1.1rem" height="0.7rem" viewBox="0 0 11 7" fill="none" xmlns="http://www.w3.org/2000/svg"> <path d="M1.5 3.5L2.83333 4.75L4.16667 6L9.5 1" stroke="currentColor" stroke-width="1.75" stroke-linecap="round" stroke-linejoin="round"></path> </svg> <span class="facet-checkbox__text" aria-hidden="true">In stock </span> <span class="visually-hidden">In stock (2 products)</span> </label> </li> <li class="mobile-facets__item list-menu__item"> <label for="Filter-filter.v.availability-mobile-2" class="facets__label mobile-facets__label mobile-facets__label--disabled disabled"> <input class="mobile-facets__checkbox" type="checkbox" name="filter.v.availability" value="0" id="Filter-filter.v.availability-mobile-2" onclick="javascript:filter_vaule(this.value,this);" > <span class="mobile-facets__highlight"></span> <svg width="1.6rem" height="1.6rem" viewBox="0 0 16 16" aria-hidden="true" focusable="false"> <rect width="16" height="16" stroke="currentColor" fill="none" stroke-width="1"></rect> </svg> <svg aria-hidden="true" class="icon icon-checkmark" width="1.1rem" height="0.7rem" viewBox="0 0 11 7" fill="none" xmlns="http://www.w3.org/2000/svg"> <path d="M1.5 3.5L2.83333 4.75L4.16667 6L9.5 1" stroke="currentColor" stroke-width="1.75" stroke-linecap="round" stroke-linejoin="round"></path> </svg> <span class="facet-checkbox__text" >Out of stock </span> <span class="visually-hidden">Out of stock (0 products)</span> </label> </li></ul> <div class="no-js-hidden mobile-facets__footer gradient"> <facet-remove class="mobile-facets__clear-wrapper"> <a href="/search?options%5Bprefix%5D=last" class="mobile-facets__clear underlined-link" role="button">Clear</a> </facet-remove> <button type="button" class="no-js-hidden button button--primary" onclick="this.closest('.mobile-facets__wrapper').querySelector('summary').click()"> Apply </button> <noscript><button class="button button--primary"> Apply </button></noscript> </div> </div> </details> <details id="Details-Mobile-2-template--21911434920228__main" class="mobile-facets__details js-filter" data-index="mobile-2"> <summary class="mobile-facets__summary focus-inset"> <div> <span>Price</span> <span class="mobile-facets__arrow no-js-hidden"><svg viewBox="0 0 14 10" fill="none" aria-hidden="true" focusable="false" class="icon icon-arrow" xmlns="http://www.w3.org/2000/svg"> <path fill-rule="evenodd" clip-rule="evenodd" d="M8.537.808a.5.5 0 01.817-.162l4 4a.5.5 0 010 .708l-4 4a.5.5 0 11-.708-.708L11.793 5.5H1a.5.5 0 010-1h10.793L8.646 1.354a.5.5 0 01-.109-.546z" fill="currentColor"></path></svg></span> <noscript><svg aria-hidden="true" focusable="false" class="icon icon-caret" viewBox="0 0 10 6"> <path fill-rule="evenodd" clip-rule="evenodd" d="M9.354.646a.5.5 0 00-.708 0L5 4.293 1.354.646a.5.5 0 00-.708.708l4 4a.5.5 0 00.708 0l4-4a.5.5 0 000-.708z" fill="currentColor"></path></svg></noscript> </div> </summary> <div id="FacetMobile-2-template--21911434920228__main" class="mobile-facets__submenu gradient"> <button class="mobile-facets__close-button link link--text focus-inset" aria-expanded="true" type="button"> <svg viewBox="0 0 14 10" fill="none" aria-hidden="true" focusable="false" class="icon icon-arrow" xmlns="http://www.w3.org/2000/svg"> <path fill-rule="evenodd" clip-rule="evenodd" d="M8.537.808a.5.5 0 01.817-.162l4 4a.5.5 0 010 .708l-4 4a.5.5 0 11-.708-.708L11.793 5.5H1a.5.5 0 010-1h10.793L8.646 1.354a.5.5 0 01-.109-.546z" fill="currentColor"></path></svg> Price </button><price-range class="facets__price"> <span class="field-currency">$</span> <div class="field"> <input class="field__input" name="filter.v.price.gte" id="Mobile-Filter-Price-GTE" type="number" placeholder="0" min="0" inputmode="decimal" onfocusout="javascript:filter_price('from',this.value)";> <label class="field__label" for="Mobile-Filter-Price-GTE">From</label> </div> <span class="field-currency">$</span> <div class="field"> <input class="field__input" name="filter.v.price.lte" id="Mobile-Filter-Price-LTE" onfocusout="javascript:filter_price('to',this.value)"; type="number" min="0" inputmode="decimal"> <label class="field__label" for="Mobile-Filter-Price-LTE">To</label> </div> </price-range> <div class="no-js-hidden mobile-facets__footer"> <facet-remove class="mobile-facets__clear-wrapper"> <a href="/search?options%5Bprefix%5D=last" class="mobile-facets__clear underlined-link" role="button">Clear</a> </facet-remove> <button type="button" class="no-js-hidden button button--primary" onclick="this.closest('.mobile-facets__wrapper').querySelector('summary').click()"> Apply </button> <noscript><button class="button button--primary"> Apply </button></noscript> </div> </div> </details> <div class="mobile-facets__details js-filter" data-index="mobile-"> <div class="mobile-facets__summary"> <div class="mobile-facets__sort"> <label for="SortBy-mobile">Sort by:</label> <div class="select"> <select name="sort_by" class="select__select" onchange="javascript:filter_sort(this.value)" id="SortBy-mobile" aria-describedby="a11y-refresh-page-message"><option value="relevance" selected="selected"> Relevance </option><option value="price-ascending"> Price, low to high </option><option value="price-descending"> Price, high to low </option></select> <svg aria-hidden="true" focusable="false" class="icon icon-caret" viewBox="0 0 10 6"> <path fill-rule="evenodd" clip-rule="evenodd" d="M9.354.646a.5.5 0 00-.708 0L5 4.293 1.354.646a.5.5 0 00-.708.708l4 4a.5.5 0 00.708 0l4-4a.5.5 0 000-.708z" fill="currentColor"></path></svg> </div> </div> </div> </div><div class="mobile-facets__footer"> <facet-remove class="mobile-facets__clear-wrapper"> <a href="?q=a&amp;options%5Bprefix%5D=last&amp;sort_by=relevance" class="mobile-facets__clear underlined-link" role="button">Remove all</a> </facet-remove> <button type="button" class="no-js-hidden button button--primary" onclick="this.closest('.mobile-facets__wrapper').querySelector('summary').click()"> Apply </button> <noscript><button class="button button--primary">Apply</button></noscript> </div> </div> <input type="hidden" name="q" value="a"> <input name="options[prefix]" type="hidden" value="last"></div> </form> </facet-filters-form> </details> </menu-drawer> <div class="active-facets active-facets-mobile medium-hide large-up-hide"><facet-remove class="active-facets__button-wrapper"> <a href="?q=a&amp;options%5Bprefix%5D=last&amp;sort_by=relevance" class="active-facets__button-remove underlined-link" role="button"> <span>Remove all</span> </a> </facet-remove> </div> <div class="product-count light medium-hide large-up-hide" role="status"> <h2 class="product-count__text text-body"> <span id="ProductCount">100 results</span> </h2></div></div> </aside>`;

let previous_url = window.location.href;

let productJSON;
if (window.location.href.includes("search")) {
  // Get all <ul> elements
  var ulElement = document.getElementById('main-search-ul');

  // Loop through each <ul> element and set visibility to 'visible'
  if (ulElement) {
    ulElement.style.visibility = 'hidden';
    // Get all immediate child <li> elements of the <ul>
    var liElements = ulElement.children;

    // Loop through each child <li> element and set visibility to 'hidden'
    for (var i = 0; i < liElements.length; i++) {
      liElements[i].style.visibility = 'hidden';
    }
  }

}

async function getAccessToken() {
  const store = location.href.split('https://');
  const shopsplit = store[1].split('/');
  const shop = shopsplit[0];
  const response = await fetch(`https://charms-oclc-ar-digit.trycloudflare.com/api/get?shop=${shop}`);
  if (response.ok) {
    const data = await response.json();
    // document.querySelector(data.resultClassName).innerHTML = '';
    localStorage.setItem("resultClassName", data.resultClassName)
    localStorage.setItem("suggestionSearch", data.suggestionSearch)
    return data;
  }
  else {
    return {};
  }
}
let mainHTML = '';
let fresh = 1;
async function loader() {
  if (window.location.href.includes("search")) {
    let resultClassName = localStorage.getItem("resultClassName")
    if (!resultClassName || resultClassName == '') {
      const tokenAndSecretId = await getAccessToken();
      resultClassName = localStorage.getItem("resultClassName")
    }
    const loaderHTML = `<img style="margin:auto;text-align:center;" src='https://cdn.shopify.com/s/files/1/0595/6744/0038/files/hzk6C.gif?v=1704974161' /> `;

    if (document.querySelector(resultClassName)) {
      mainHTML = document.querySelector(resultClassName).innerHTML;
      document.querySelector(resultClassName).innerHTML = loaderHTML;
    }
  }
}

loader(); // call loader function

async function getSearchQuery() {
  const currentURL = window.location.href;
  const url = new URL(currentURL);
  const searchQuery = url.searchParams.get('q');
  let minPrice = url.searchParams.get('filter.v.price.gte');
  if (minPrice == '') {
    minPrice = null;
  }
  let maxPrice = url.searchParams.get('filter.v.price.lte');
  if (maxPrice == '') {
    maxPrice = null;
  }
  let availability = url.searchParams.get('filter.v.availability');
  switch (availability) {
    case "1":
      availability = true;
      break;
    case "0":
      availability = false;
      break;
    default:
      availability = null;
      break;
  }
  let sort_by = url.searchParams.get('sort_by');
  switch (sort_by) {
    case 'relevance':
      sort_by = 'similarity';
      break;
    case 'price-ascending':
      sort_by = 'pricesort_inc';
      break;
    case 'price-descending':
      sort_by = 'pricesort_dec';
      break;
    default:
      sort_by = 'similarity';
      break;
  }
  const search = { searchQuery: searchQuery, sort_by: sort_by, availability: availability, minPrice: minPrice, maxPrice: maxPrice };
  return search;
}

async function search(hello = "") {
  const tokenAndSecretId = await getAccessToken();
  if (window.location.href.includes("search") && tokenAndSecretId?.resultClassName && tokenAndSecretId?.resultClassName != '') {
    document.title = "Search Results";
    document.querySelector('ul.product-grid').style.visibility = 'hidden';
    const resultClassName = localStorage.getItem("resultClassName")
    // document.querySelector(resultClassName).innerHTML = '';
    const getSearchValue = await getSearchQuery();
    if (getSearchValue.searchQuery !== null) {
      const loaderHTML = `<img style="margin:auto;text-align:center;" src='https://cdn.shopify.com/s/files/1/0595/6744/0038/files/hzk6C.gif?v=1704974161' /> `;
      if (document.querySelector(resultClassName)) {
        setTimeout(() => {
          // Show loader code
          document.querySelector(resultClassName).innerHTML = loaderHTML;
        }, 300);

      }

    }

    const myHeaders = new Headers();
    myHeaders.append("Content-Type", "application/json");
    let filters = filters_static;
    filters = filters.replace(/\[\[QUERY\]\]/g, getSearchValue.searchQuery);
    var inner_facets = '';
    switch (getSearchValue.sort_by) {
      case 'similarity':
        var sort_by = 'relevance';
        break;
      case 'pricesort_inc':
        var sort_by = 'price-ascending';
        break;
      case 'pricesort_dec':
        var sort_by = 'price-descending';
        break;
      default:
        var sort_by = 'relevance';
        break;
    }
    if (getSearchValue.availability && window.location.href.includes('filter.v.availability')) {

      inner_facets = inner_facets + `<facet-remove>
        <a href="/search?q=${getSearchValue.searchQuery}&filter.v.price.gte=${getSearchValue.minPrice ? getSearchValue.minPrice : ''}&amp;filter.v.price.lte=${getSearchValue.maxPrice ? getSearchValue.maxPrice : ''}&amp;sort_by=${sort_by}" class="active-facets__button active-facets__button--light">
          <span class="active-facets__button-inner button button--tertiary">
            Availability: In stock
            <svg aria-hidden="true" focusable="false" width="12" height="13" class="icon icon-close-small" viewBox="0 0 12 13" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M8.48627 9.32917L2.82849 3.67098" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"></path>
    <path d="M2.88539 9.38504L8.42932 3.61524" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"></path>
    </svg>

            <span class="visually-hidden">Remove filter</span>
          </span>
        </a>
      </facet-remove>`;
    }
    if (getSearchValue.minPrice || getSearchValue.maxPrice) {
      //var avail = getSearchValue.availability ? 1 : 0;
      var fiurl = new URL(previous_url);
      var avail = fiurl.searchParams.get('filter.v.availability') ? 'filter.v.availability=' + fiurl.searchParams.get('filter.v.availability') + "&" : '';
      var minPrice = (getSearchValue.minPrice && getSearchValue.minPrice!=null)?getSearchValue.minPrice:0;
      var maxPrice = (getSearchValue.maxPrice && getSearchValue.maxPrice!=null)?'$'+getSearchValue.maxPrice:"Max Price";
      inner_facets = inner_facets + `<facet-remove>
      <a href="/search?${avail}q=${getSearchValue.searchQuery}&amp;sort_by=${sort_by}" class="active-facets__button active-facets__button--light">
        <span class="active-facets__button-inner button button--tertiary">$${minPrice}
-${maxPrice}
<svg aria-hidden="true" focusable="false" width="12" height="13" class="icon icon-close-small" viewBox="0 0 12 13" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M8.48627 9.32917L2.82849 3.67098" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"></path>
<path d="M2.88539 9.38504L8.42932 3.61524" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"></path>
</svg>

          <span class="visually-hidden">Remove filter</span>
        </span>
      </a>
    </facet-remove>`;

    }
    inner_facets = inner_facets + `<facet-remove class="active-facets__button-wrapper">
    <a href="?q=${getSearchValue.searchQuery}&amp;options%5Bprefix%5D=last&amp;sort_by=${sort_by}" class="active-facets__button-remove underlined-link">
      <span>Remove all</span>
    </a>
    </facet-remove>`;
    filters = filters.replace(/\[\[FACET\]\]/g, inner_facets);
    const raw = JSON.stringify({
      query: "query Suggestions($integration_id: String!, $text_query: String!, $filter_query: JSONObject, $limit: Int!) {\n    suggestions(query: { integration_id: $integration_id, text_query: $text_query, filter_query: $filter_query, limit: $limit }) {\n        has_more\n        skip\n        limit   \n        data {\n            alias\n            image\n            name\n            url\n            price   \n            price_discounted\n            sizes\n        }\n    }\n}\n",
      variables: {"integration_id":"ba5e511a-4052-44fc-88b7-01f1cfee9a77","limit":30,"text_query":getSearchValue.searchQuery,"filter_query":{}}
    })
    const requestOptions = {
      method: 'POST',
      headers: myHeaders,
      body: raw,
      redirect: 'follow'
    };

    console.log("getSearchValue.searchQuerygetSearchValue.searchQuery",getSearchValue?.searchQuery)
    try {
      const searchProduct = await fetch("https://api.miros.services/graphql", requestOptions);

      if (!searchProduct.ok) {
        throw new Error(`HTTP error! Status: ${searchProduct.status}`);
      }

      // Get all <ul> elements
      var ulElement = document.getElementById('main-search-ul');

      // Loop through each <ul> element and set visibility to 'visible'
      if (ulElement) {
        ulElement.style.visibility = 'visible';
        // Get all immediate child <li> elements of the <ul>
        var liElements = ulElement.children;

        // Loop through each child <li> element and set visibility to 'hidden'
        for (var i = 0; i < liElements.length; i++) {
          liElements[i].style.visibility = 'visible';
        }
      }
      // Get all elements with the class "facet-checkbox__text"
      var elements = document.getElementsByClassName("facet-checkbox__text");

      // Loop through the elements and hide the numbers within each element
      for (var i = 0; i < elements.length; i++) {
        var textContent = elements[i].textContent;

        // Use regular expression to match and replace the numbers
        var modifiedText = textContent.replace(/\(\d+\)/g, '');

        // Set the modified text as the content of the element
        elements[i].textContent = modifiedText;
      }
       productJSON = await searchProduct.json();
      if (productJSON.data.suggestions.data.length > 0) {
        if (document.getElementById('ProductCountDesktop')) {
          // Get the element with the specified role attribute and content then hide the element
          if (document.querySelector('p[role="status"]')) {
            document.querySelector('p[role="status"]').style.display = 'none';
          }
          document.getElementById('ProductCountDesktop').innerHTML = productJSON.data.suggestions.data.length + " results";//facet-checkbox__text
        }
        else {
          // Get the element with the specified role attribute and content then hide the element
          if (document.querySelector('p[role="status"]')) {
            document.querySelector('p[role="status"]').style.display = 'none';
          }
          // Get the element with the ID 'ProductGridContainer'
          var productGridContainer = document.getElementById('ProductGridContainer');
          // Insert the filters above the ProductGridContainer
          productGridContainer.insertAdjacentHTML('beforebegin', filters);
        }
        if (hello != 'hello') {
          var anari_filter = document.querySelector('.facets-wrapper');
          if (anari_filter) {
            anari_filter.remove();
            var productGridContainer = document.getElementById('ProductGridContainer');
            // Insert the filters above the ProductGridContainer
            productGridContainer.insertAdjacentHTML('beforebegin', filters);
          }
        }
        var fiurl = new URL(window.location.href);
        var sort_by_select = document.querySelector('select[name="sort_by"]');

        // Loop through the options and find the one with the desired value
        for (var i = 0; i < sort_by_select.options.length; i++) {
          if (sort_by_select.options[i].value === fiurl.searchParams.get('sort_by')) {
            sort_by_select.options[i].selected = true;
            break; // Exit the loop once the option is found and marked as selected
          }
        }
        var filtersElement = document.querySelector('.active-facets-desktop'); // replace with the actual selector for your filters
        // Remove the existing filters if it exists
        if (filtersElement) {
          filtersElement.innerHTML = '';
          filtersElement.innerHTML = inner_facets;
        }
        document.getElementById('Filter-Price-GTE').value = getSearchValue.minPrice;
        document.getElementById('Filter-Price-LTE').value = getSearchValue.maxPrice;
        if (window.location.href.includes("filter.v.availability")) {
          document.getElementById('Filter-filter.v.availability-1').checked = getSearchValue.availability;
        }
      if (window.location.href.includes("filter.v.availability=0")) {
          document.getElementById('Filter-filter.v.availability-2').checked = true;
      }
      const htmlContent = productJSON.data.suggestions.data.map((value, index) => {
          let changeText = tokenAndSecretId.Html;
          //var handle = value.url.substring(value.url.indexOf("products"));
          changeText = changeText.replace(/\[\[TITLE\]\]/g, value.name);
          changeText = changeText.replace(/\[\[PRICE\]\]/g, value.price.toFixed(2));
          changeText = changeText.replace(/\[\[IMAGESRC\]\]/g, value.image);
          changeText = changeText.replace(/\[\[HANDLE\]\]/g, "https://quickstart-db2dc1d6.myshopify.com/"+value.url);
          return `${changeText}`;
        }).join('');

        document.querySelector(resultClassName).innerHTML = htmlContent || '';
        document.querySelector(resultClassName).style.visibility="visible";
      }
      else {
        mainHTML = mainHTML.replace(/style="visibility:hidden"/g, '');

        if (hello != 'hello') {
          document.querySelector(resultClassName).innerHTML = mainHTML || '';
        }
        else {
          document.querySelector(resultClassName).innerHTML = mainHTML || '';
        }
        if (document.querySelector(resultClassName).innerHTML == '') {
          document.querySelector('p[role="status"]').style.display = 'block';
          document.querySelector('p[role="status"]').style.visibility = 'visible';
          document.querySelector('p[role="status"]').innerHTML = 'Sorry but as per your search results are not comming please try again';
        }
      }
    } catch (error) {
      var ulElement = document.getElementById('main-search-ul');
      // Loop through each <ul> element and set visibility to 'visible'
      if (ulElement) {
        ulElement.style.visibility = 'visible';
      }
      mainHTML = mainHTML.replace(/style="visibility:hidden"/g, '');

      document.querySelector(resultClassName).innerHTML = mainHTML || '';
      console.error('Error fetching data:', error.message);
    }
  }
}
let change_url = [];
search(); // call search function
setInterval(async function () {
  if (previous_url != window.location.href && window.location.href.includes("search")) {
    // Get all <ul> elements
    var ulElement = document.getElementById('main-search-ul');

    // Loop through each <ul> element and set visibility to 'visible'
    if (ulElement) {
      ulElement.style.visibility = 'hidden';
      // Get all immediate child <li> elements of the <ul>
      var liElements = ulElement.children;

      // Loop through each child <li> element and set visibility to 'hidden'
      for (var i = 0; i < liElements.length; i++) {
        liElements[i].style.visibility = 'hidden';
      }
    }
    const resultClassName = localStorage.getItem("resultClassName")
    //document.querySelector(resultClassName).innerHTML = '';
    previous_url = window.location.href;
    search("hello");
  }

}, 900);
    const fiurl = new URL(previous_url);
    const q_value = fiurl.searchParams.get('q');

function filter_vaule(value,filter){
  var checkbox = document.getElementById('Filter-filter.v.availability-2');
  var checkbox1 = document.getElementById('Filter-filter.v.availability-1');
  if(value=='1'){
    if (checkbox.checked) {
        checkbox.checked = false;
    }
  }else{
    checkbox1.checked = false;
  }
  if(filter.checked){
  change_url['filter.v.availability']=value;
  var new_url = Object.entries(change_url).map(([key, value]) => {
    return key + '=' + value;
  }).join('&');
  history.pushState({}, "Results for `AI`", 'search?q=' + q_value +"&"+ new_url);
  }
  else{
    change_url['filter.v.availability']='';
     // Key to be removed
var keyToRemove = 'filter.v.availability';

// Use filter to create a new array without the object containing the specified key
var newArray = change_url.filter(obj => !obj.hasOwnProperty(keyToRemove));
  var new_url = Object.entries(newArray).map(([key, value]) => {
    return key + '=' + value;
  }).join('&');


  history.pushState({}, "Results for `AI`", 'search?q=' + q_value +"&"+ new_url);
  }
}

function filter_price(type,value){
  if(type =='from'){
    change_url['filter.v.price.gte']=value;
  }
  else if(!change_url['filter.v.price.gte'] || value > change_url['filter.v.price.gte'])
  {
    change_url['filter.v.price.lte']=value;
  }
  else
  {
    document.getElementById('Filter-Price-LTE').value='';
  }
  var new_url = Object.entries(change_url).map(([key, value]) => {
    return key + '=' + value;
  }).join('&');
  history.pushState({}, "Results for `AI`", 'search?q=' + q_value +"&"+ new_url);
}
      const tokenAndSecretId =  getAccessToken();

async function filter_sort(value){
  {% comment %} let suggestionSearch = localStorage.getItem("suggestionSearch")
    if (!suggestionSearch || suggestionSearch == '') { {% endcomment %}
      {% comment %} suggestionSearch = localStorage.getItem("suggestionSearch")
    } {% endcomment %}
  change_url['sort_by']=value;
  var new_url = Object.entries(change_url).map(([key, value]) => {
    return key + '=' + value;
  }).join('&');
  history.pushState({}, "Results for `AI`", 'search?q=' + q_value +"&"+ new_url);
}
console.log("every times")
 document.addEventListener("DOMContentLoaded", function() {
  // Ensuring tokenAndSecretId is correctly resolved
  const tokenAndSecretIdPromise = getAccessToken();
  tokenAndSecretIdPromise.then(tokenAndSecretId => {

    console.log("tokenAndSecretId.suggestionSearchdd",tokenAndSecretId?.suggestionSearch)
    // Validate that tokenAndSecretId is an object and contains the suggestionSearch property
    if (tokenAndSecretId && tokenAndSecretId.suggestionSearch) {
      setInterval(function() {
        console.log("entered into function");
        console.log("tokenAndSecretId", tokenAndSecretId);
        var predictiveSearchResults = document.getElementById(tokenAndSecretId.suggestionSearch);
        {% comment %} console.log("productGridContainer value:", predictiveSearchResults); {% endcomment %}
        if (predictiveSearchResults) {
{% comment %} console.log("productJSONproductJSON",productJSON) {% endcomment %}
          // Assuming `productJSON` is available and contains the fetched data
          if (productJSON && productJSON.data && productJSON.data.suggestions && productJSON.data.suggestions.data) {
            console.log("productJSON.data.suggestions.data",productJSON.data.suggestions.data)
            const firstFiveProducts = productJSON.data.suggestions.data.slice(0, 5).map(product => {
              let changeText = tokenAndSecretId?.htmlSuggestion;
              changeText = changeText.replace(/\[\[NAME\]\]/g, product.name);
              changeText = changeText.replace(/\[\[IMAGE\]\]/g, product.image);
              {% comment %} console.log("changeText", changeText); {% endcomment %}
              return `
                ${changeText}
              `;
            }).join('');
            predictiveSearchResults.innerHTML = firstFiveProducts;
          } else {
            predictiveSearchResults.innerHTML = "No products found";
          }
        } else {
          console.error("Element with ID 'predictive-search-results-products-list' not found.");
        }

      var predictiveSearchQueriesList = document.querySelector('#predictive-search-results-groups-wrapper .predictive-search__result-group:nth-child(1)');
      var predictiveSearchQueriesList1 = document.querySelector('#predictive-search-results-groups-wrapper .predictive-search__result-group:nth-child(2)');
        if (predictiveSearchQueriesList) {
          predictiveSearchQueriesList.style.display = 'none';
          predictiveSearchQueriesList1.style.padding = '1rem 2rem';
          console.log("css working");
        } else {
          console.error("Element with ID 'predictive-search-results-queries-list' not found.");
        }
      }, 1000); // Runs every 5 seconds
    } else {
      console.error("tokenAndSecretId or tokenAndSecretId.suggestionSearch is not defined correctly.");
    }
  }).catch(error => {
    console.error("Error resolving tokenAndSecretId promise:", error);
  });
});

    </script>
</body>


<div class="search-local">

</div>
